.navbar {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #f8f5f1;
}

.navlinks {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  padding-right: 1rem;
  color: #333;
  text-decoration: none;
}

h1 {
  font-size: 200%;
  background: radial-gradient(#ffa600, orange, yellow);
  -webkit-background-clip: text;
  color: transparent;
}

/* Active route */
.active {
  color: #22b436;
  text-decoration: underline;
  text-shadow: #22b4357a 0 0 16px;
  font-weight: bold;
}
